.my-body-carta{

    background-image: url(../imagenes/electronica-digital-aplicaciones.jpg); 
    // background-position: center;
    //  background-size: cover;
      background-repeat: no-repeat;
    background-size: 100%; 
      height: auto;
}

.section1{ 

    background-color: rgb(228, 214, 214);
    border-radius: 10px;
    
}