body {

  footer {
    margin-top: 100px;
  }

}

.my-body-blog {

  background-image: url(../../imagenes/img_electronica.jpg);
  // background-position: center;
  //  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;

}

.my-section-blog {
  padding-left: 30px;
  gap: 30px;

}