.section-width {
    min-height: 100vh;
}


main {
    section {
        max-width: 100%;
        // border: 2px solid lawngreen;
        min-height: 100vh;
    }
}

.section2 {

    background-image: url("/imagenes/fondo-pizarron-verde.jpg");
    // background-color: darkgreen;
    background-repeat: repeat-y;
    width: 100%;
    background-size: 100%;
    min-height: 100vh;

//    h4{
//     color: black;
//    }

//    p{
//     color: black;

//    }
//     li{
//         color: black;
//     }

}

//seccion 3

// iconos de la seccion 3

.material-symbols-outlined{
font-size: 45px;
vertical-align: bottom;
}


.section3 {
    background-color: whitesmoke;

    h4 {
        padding: 15px 15px;
    }

    div {
        div {
            div {
                // display: flex;
                 border: 2px double powderblue;
                height: auto;

                span{
                    width:auto;
                    height: auto;
                }

                h4{
                    padding: 0;
                    display: inline;
                }

                p{
                    margin-top: 20px;
                }
            }
        }
    }
}



.section6{
    background-image: url("/imagenes/fondo-blog.jpg");
    background-repeat: repeat-y;

    // div{
        
    //     div{
            
    //         div{
    //         width: 33.33%;
    //         height: auto;
    //         border: 3px solid lawngreen;
    //         }
    //     }
    // }
}