
.my-body-blog {

    background-image: url(../../imagenes/img_electronica.jpg);  
    // background-position: center;
    //  background-size: cover;
      background-repeat: no-repeat;
    background-size: 100%; 
      height: auto;

}



