.my-body-index {

    background-image: url(../imagenes/imagen-de-fondo-v2.jpg); 
    // background-position: center;
    //  background-size: cover;
      background-repeat: no-repeat;
    background-size: 100%; 
      height: auto;
     
}



